@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body{
    height: 100vh;
}

/*
# Menu de navegação!!!!
*/
nav.menuLateral{
    width: 123px;
    height: 100%;
    background-color: rgb(41, 39, 39);
    padding: 40px 0 40px 1%;
    box-shadow: 5px 0 0 rgb(23, 129, 129);
    
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

nav.menuLateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 30px;
}

.btn-expandir > i{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.itemMenu{
    transition: .5s;
}

ul li.open{
    background-color: rgb(23, 129, 129);
}

ul li.itemMenu:hover{
    background-color: rgb(23, 129, 129);
}

ul li.itemMenu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

ul li.itemMenu a .txtLink{
    margin-left: 70px;
    transition: .7s;
    opacity: 0;
}

nav.menuLateral.expandir .txtLink{
    margin-left: 40px;
    opacity: 1;
}

ul li.itemMenu a .icon > i{
    font-size: 40px;
    margin-left: 0px;
}
/*
#Fim menu
*/

.title{
    margin: 0 500px;
}















